.left {
    background-color: green;
    width: 50%;
    height: 100%;
}
.right {
    background-color: whitesmoke;
    width: 50%;
    height: 100%;
}
#inl123 {
    background-image: url(./taxi.png);
    overflow: hidden;
}
#intitle {
    font-family: 'Calisto MT';
}
#insub {
    font-family: 'Maiandra GD';
}